.container{ 
    width: 100%; 
    padding: 20px; 
    display: flex; 
    align-items: center; 
    background-color: #013220; 
} 
button:hover { 
    background-color: #90e0ef; 
    transition: .3s ease all; 
    transform: translateY(-10px); 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px; 
} 
.home{ 
    background-color: #a3b18a; 
    transition: .3s ease all; 
    border: none; 
    width: 120px; 
    height: 45px; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px; 
    align-items: flex-start; 
    margin-left: 10px; 
} 
.me{ 
    background-color: #a3b18a; 
    transition: .3s ease all; 
    border: none; 
    width: 120px; 
    height: 45px; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px; 
    align-items: flex-start; 
    margin-left: 10px; 
} 
.socmed{ 
    background-color: #a3b18a; 
    transition: .3s ease all; 
    border: none; 
    width: 120px; 
    height: 45px; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px; 
    align-items: flex-start;   
    margin-left: 20px; 
} 
.socmed{ 
    background-color: #a3b18a; 
    transition: .3s ease all; 
    border: none; 
    width: 120px; 
    height: 45px; 
    font-family: 'Times New Roman', Times, serif; 
    font-size: 18px; 
    align-items: flex-start;   
    margin-left: 20px; 
} 
.footer{ 
    width: 100%; 
    padding: 20px; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    background-color: #013220; 
}