* {   
    box-sizing: border-box;
}    
.container {
    height: 90vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #ADEBB3;
    color: black;
}
img {
    width: 250px;
    height: auto;
    border-radius: 50%;
    padding: 20px;
}
p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}