* {   
    margin: 0;
    box-sizing: border-box;
} 
nav {
    background-color: #173518;
}
.links {
    list-style: none;
    display: flex;
    gap: 1rem;
}
.links.show-links {
    display: block; 
}
.nav-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}
.social-icons {
    list-style: none;
    display: flex;
    gap: 1rem;
    color: white;
}
.social-icons a {
    color: inherit;
    text-decoration: none;
}